#climat{
    display: flex;
    width: 500px;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(circle at top left, #051521, #0d2f3a);
    color: #EAC531;
}

header, nav, footer {
    background-color: #051521;
    color: #22B8C7;
    text-align: center;
    padding: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 1em;
}

nav a {
    text-decoration: none;
    color: #22B8C7;
    font-weight: bold;
    padding: 0.5em 1em;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #08425e;
}

#content {
    padding: 2em;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.lettre{
}

